body {
	background-color: #D2D4CD;
	color: #24435E;
	font-family: serif;
}
h1 {
	font-family: sans-serif;
}

article p:first-of-type {
	background-color: #000000;
}

article {
	width: 30em;
	margin: 0 1em 0 1em;
	float: left;
}

article	p {
	font-size: 1.5em;
}	

article p:last-child {
	font-weight: bold;	
}

aside{
	width: 13.5em;
}

aside p {
	font-size: 1.1em;
	font-style: italic;
}
aside {
	float: left;
}
